/* OtpAuthentication.css */

.otp-auth-container {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .otp-auth-container h2 {
    text-align: center;
  }
  
  .input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .input-container input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  .input-container button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #6A0DAD;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .input-container button:hover {
    background-color: #6A0DAD;
  }
  
  .message {
    margin-top: 20px;
    text-align: center;
    color: red;
  }
  
  .message.error {
    color: red;
  }
  